.preloader {
  overflow: hidden;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f6f6f6;
  pointer-events: none;

  &.hidden {
    display: none;
  }

  .container {
    height: 100%;
  }

  &-body {
    position: relative;
    height: inherit;
    &__logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @media (max-width: 992px) {
        width: 332px;
        height: 76px;
        img {
          width: 332px !important;
          height: 76px !important;
          object-fit: contain;
        }
      }
      @media (max-width: 575px) {
        width: 228px;
        height: 52px;

        img {
          width: 228px !important;
          height: 52px !important;
        }
      }

      &-dark {
      }

      &-light {
        position: absolute;
        top: 0;
        left: 0;
        transition: all 1.5s ease;

        width: 0;
        opacity: 0;
        clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);

        @media (max-width: 992px) {
          img {
            width: 332px !important;
            height: 76px !important;
            object-fit: contain !important;
          }
        }

        @media (max-width: 575px) {
          img {
            width: 228px !important;
            height: 52px !important;
          }
        }
      }
    }

    &__percents {
      position: absolute;
      bottom: 100px;
      left: 50%;
      transform: translate(-50%, 0);

      font-family: 'Jeko';
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 48px;
      text-align: center;
      color: #d9d9d9;

      @media (max-width: 992px) {
        font-size: 28px;
        line-height: 32px;
        bottom: 80px;
      }

      @media (max-width: 575px) {
        font-size: 24px;
        line-height: 28px;
        bottom: 60px;
      }
    }
  }
}
