.partners {
  &_trust {
    margin: 120px 0 0;

    @media (max-width: 1200px) {
      margin: 165px 0 0;

      .partners-card {
        padding: 0 0 100%;
      }
    }
    @media (max-width: 767px) {
      margin: 100px 0 0;

      .partners-card {
        padding: 0 0 138%;
      }
    }
  }

  @media (max-width: 767px) {
    .container {
      padding: 0;
    }
  }

  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 767px) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 0 20px;
    }

    &__title {
      @media (max-width: 767px) {
        font-size: 28px;
        line-height: 32px;
      }
    }

    &__logo {
      flex: 0 0 auto;
      margin: 0 0 0 20px;

      @media (max-width: 1200px) {
        width: 296px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      @media (max-width: 767px) {
        margin: 20px 0 0;
        width: 100%;
        max-width: 300px;
      }
    }
  }
  &-btns {
    display: flex;
    margin: 60px 0 0;

    @media (max-width: 1200px) {
      margin: 40px 0 0;
    }

    @media (max-width: 767px) {
      padding: 0 20px;
    }

    &__item {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 calc(50% - 12px);
      padding: 16px 0;
      border-bottom: 1px solid #d8d8d8;

      font-family: 'TT Norms';
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      text-transform: uppercase;
      color: rgba($color: #131411, $alpha: 0.4);

      transition: all 0.3s ease;

      @media (max-width: 767px) {
        font-size: 12px;
        line-height: 18px;
        padding: 12px 0;
      }

      &:not(:first-child) {
        margin: 0 0 0 24px;
      }

      &.active {
        color: #131411;
        border-bottom: 1px solid #131411;
      }
    }
  }
  &-body {
    margin: 40px 0 0;

    @media (max-width: 767px) {
      margin: 20px 0 0;
    }

    &__tab {
      display: none;

      &.active {
        display: block;
      }
    }

    &__slider {
      overflow: hidden;
    }

    &__navigation {
      margin: 20px 0 0;
      padding: 0 20px;
      display: flex;
      align-items: center;

      @media (min-width: 768px) {
        display: none;
      }

      &-prev {
        transition: all 0.3s ease;
        &.swiper-button-disabled {
          opacity: 0.5;
        }

        svg {
          transform: scale(-1, 1);
        }
      }
      &-next {
        transition: all 0.3s ease;
        margin: 0 0 0 16px;
        &.swiper-button-disabled {
          opacity: 0.5;
        }
      }
    }
  }
  &-card {
    position: relative;
    padding: 0 0 75.5%;

    @media (max-width: 1200px) {
      padding: 0 0 105%;
    }
    @media (max-width: 767px) {
      padding: 0 0 139%;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #131411;
      opacity: 0.4;
    }

    &__quote {
      display: flex;
      align-items: center;
      position: absolute;
      z-index: 1;
      top: 34px;
      left: 30px;

      font-family: 'TT Norms';
      font-weight: 500;
      font-size: 8px;
      line-height: 9px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #f6f6f6;

      span {
        display: block;
        width: 24px;
        height: 1px;
        background: #f6f6f6;
        margin: 0 8px;
      }
    }

    &__link {
      cursor: pointer;
      position: absolute;
      z-index: 1;
      right: 20px;
      top: 20px;
      width: 48px;
      height: 48px;
      border: 1px solid #e2e1e1;
      border-radius: 50%;

      &:hover {
        svg {
          transform: translate(-6px, -50%);
        }
      }

      svg {
        position: absolute;
        top: 50%;
        transform: translate(-12px, -50%);
        transition: all 0.4s ease;
      }
    }

    &__text {
      position: absolute;
      z-index: 1;
      left: 30px;
      bottom: 40px;
      max-width: 430px;

      @media (max-width: 1200px) {
        left: 20px;
        bottom: 30px;
        margin: 0 20px 0 0;
      }

      &-title {
        font-family: 'TT Norms';
        font-weight: 500;
        font-size: 28px;
        line-height: 36px;
        text-transform: uppercase;
        color: #f6f6f6;

        @media (max-width: 1200px) {
          font-size: 24px;
          line-height: 36px;
        }
      }

      &-address {
        margin: 4px 0 0;

        font-family: 'TT Norms';
        font-style: normal;
        font-size: 16px;
        line-height: 22px;
        text-transform: uppercase;
        color: #f6f6f6;

        @media (max-width: 1200px) {
          font-size: 14px;
          line-height: 20px;
        }
      }

      &-descr {
        margin: 20px 0 0;

        font-family: 'TT Norms';
        font-size: 16px;
        line-height: 22px;
        color: #f6f6f6;
      }
    }
  }
}
